<header>
    <nav>
        <section class="logo-holder">
            <img src="../../../../assets/site_logo.png" alt="" routerLink="/">
        </section>
        <ul>
            <li><a routerLink="/">Home</a></li>
            <li><a routerLink="/blogs">All Blogs</a></li>
            <li><a routerLink="/blogs/new">Write</a></li>
            <li><a routerLink="/blogs/popular">Hot Blogs</a></li>
        </ul>

        <ul *ngIf="!this.isLogged">
            <li><a routerLink="/auth/login">Login</a></li>
            <li><a routerLink="/auth/register">Register</a></li>
        </ul>
        <ul *ngIf="this.isLogged">
            <li>
                <a>
                    <section class="logo-holder">
                        <a routerLink="/user/profile">
                            <img class="profile-pic" src="{{userPic}}" alt="" />
                        </a>
                    </section>
                </a>
            </li>
            <li><a routerLink="/auth/logout">Logout</a></li>
        </ul>
    </nav>
</header>