.admin-users-page {
  padding-bottom: 100px;
  min-height: 85.7vh;
  background-color: salmon;
}
table {
  color: white !important;
  background-color: salmon;
}
.table-striped > tbody > tr:nth-of-type(odd) {
  color: white !important;
}
td .img-holder {
  width: 100px;
}
td .img-holder img {
  width: 100%;
}
h1 {
  padding-top: 20px;
  margin-bottom: 20px;
  text-align: center;
  font-size: 60px;
  color: #fff;
  font-family: "orange juice", sans-serif;
}
.table {
  vertical-align: middle;
}

table {
  width: 90%;
  margin: 0 auto;
  text-align: center;
}
