.footer {
  padding: 9px;
  width: 100%;
  position: fixed;
  bottom: 0;
  left: 0;
  text-align: center;
  background-color: #0004ff;
  border-top-right-radius: 20px;
  border-top-left-radius: 20px;
}

.footer p {
  display: inline-block;
  font-weight: 400;
  color: #fff;
  margin: 3px;
}
