<article class="card-holder">
    <app-alert [alert]="error" *ngIf="error"></app-alert>
    <h3 class="card-title">
        <h1>Add a new blog</h1>
    </h3>
    <mat-spinner class="spinner" *ngIf="isLoading"></mat-spinner>
    <form (ngSubmit)="onSubmit(imgUrl)" *ngIf="!isLoading && !isFrozen">
        <div class="title-and-img">
            <div class="row">
                <h3>Blog title:</h3>
                <input type="text" placeholder="Grand canyon" name="title" [(ngModel)]="this.blog.title">
            </div>

            <div class="row">
                <h3>Upload an image</h3>
                <input type="file" required id="file" #imgUrl name="image" />
            </div>

            <div class="tags-row">
                <h3>Choose tags for the blog:</h3>
                <mat-chip-list #chipList aria-label="Tags selection">
                    <mat-chip *ngFor="let tag of blog.tags">
                        {{tag}}
                    </mat-chip>
                    <input placeholder="Nature" [(ngModel)]="tags" name="tags">
                </mat-chip-list>
            </div>

        </div>
        <section class="editor">
            <ckeditor [(ngModel)]="this.blog.content" name="ckeditorContent">
            </ckeditor>
        </section>
        <button class="save-btn" type="submit">Submit</button>

    </form>

    <section class="frozen" *ngIf="isFrozen">
        <p>You have been frozen by the administrator and therefore cannot write blogs!</p>
    </section>
</article>