.save-btn {
  font-size: 18px;
  margin-top: 15px;
  display: inline-block;
  margin-bottom: 70px;
  margin-left: 553px;
  cursor: pointer;
  outline: none;
  background-color: #005eff;
  color: #fff;
  padding: 12px 25px;
  border-radius: 15px;
}

h1 {
  text-align: center;
  font-size: 60px;
  font-family: "orange juice", sans-serif;
}
h3 {
  font-weight: 500;
}
.input {
  margin-bottom: -20px;
}
.title-and-img {
  text-align: center;
}
.row {
  display: inline-block;
  margin: 20px;
  text-align: left;
}
input {
  outline: none;
  border: none;
  height: 30px;
  font-size: 20px;
  padding-bottom: 5px;
  border-bottom: 1px solid #024094;
}

.editor {
  width: 80%;
  position: relative;
  margin: 20px auto;
  margin-bottom: 70px;
}
.card-holder {
  width: 80%;
  margin: 50px auto;
  height: 74.2vh;
}
.tags-row input {
  width: 100%;
}
mat-spinner {
  margin: 0 auto;
}
.frozen {
  text-align: center;
  color: red;
  font-weight: 400;
  font-size: 24px;
}
