h1 {
  margin-left: 25px;
  font-size: 50px;
  font-family: "Chilanka", "cursive";
}
.profile-holder {
  display: flex;
  align-items: center;
  margin-top: 20px;
}
.profile-img-holder img {
  border-radius: 50%;
  width: 100px;
  height: 100px;
  object-fit: cover;
}

.user-profile {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-bottom: 70px;
  background: salmon;
}

.img-holder {
  width: 25px;
}
.bio-holder {
  max-width: 60%;
  margin-top: 20px;
  text-align: left;
  font-family: "Chilanka", "cursive";
}
.bio-holder p {
  font-size: 17px;
  font-family: "Chilanka", "cursive";
}
.bordered-heading {
  width: 90%;
  text-align: center;
  border-top: 1px solid #ccc;
  padding-top: 10px;
  margin-top: 10px;
}
hr {
  width: 90%;
  display: block;
  border: 1px solid #ccc;
  margin: 0;
}
.img-holder img {
  width: 100%;
}
.achievements-holder {
  max-width: 60%;
  padding: 0;
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.achievements-holder li {
  display: flex;
  align-items: center;
  margin-left: 15px;
  margin-bottom: 15px;
  border-radius: 20px;
  padding: 5px 10px;
  background-color: lightgray;
}

.achievment-content {
  width: 100px;
  text-align: center;
}

.blog-cards {
  display: flex;
  width: 100%;
  flex-wrap: wrap;
  align-items: stretch;
  justify-content: center;
}
.blog-card {
  flex-basis: 20% !important;
  margin: 15px;
  flex-basis: unset;
  margin: 15px;
  flex-basis: 25%;
  border-radius: 5px;
  border: 3px solid #005eff;
  box-shadow: 1px 1px 5px 1px lightseagreen;
}
.user-profile {
  min-height: 85vh;
}

.frozen {
  color: red;
}
.isFrozen {
  margin-left: 20px;
}

.visit-history {
  display: flex;
  flex-direction: column;
}
.visits-holder {
  text-align: center;
  display: flex;
  padding-top: 10px;
  flex-direction: column;
}
